body{
    font-family: Arial, Verdana, sans-serif;
}

.title {
    font-size: 32px;
    font-style: italic;
    color: hsl(0, 4%, 5%);
    background-color: yellow;
}

.subheader {
    font-size: 20px;
    color: hsl(60, 6%, 87%);
    background-color: rgb(49, 49, 49);
}

.menu a{
    color: rgba(197, 111, 61, 0.966);
    font-weight: bold;
}

p {
    font-weight: 700;
}

.ingredients li{
    font-style: italic;
    font-size: 18px;
}

.steps li{
    border-bottom: 2px dotted rgb(20, 20, 20);
}